@model CinemaSystemManagement.Models.ViewModels.MovieVM

<form method="post" enctype="multipart/form-data" class="container py-5">

    <input type="hidden" name="Movie.Id" value="@Model.Movie.Id" />

    <input name="Movie.Name" value="@Model.Movie.Name" class="form-control mb-3" />

    <textarea name="Movie.Description" class="form-control mb-3">@Model.Movie.Description</textarea>

    <input name="Movie.Price" value="@Model.Movie.Price" class="form-control mb-3" />

    <input name="Movie.Status" value="@Model.Movie.Status" class="form-control mb-3" />

    <img src="/images/movies/@Model.Movie.MainImg" width="120" class="mb-3" />

    <input type="file" name="MainImg" class="form-control mb-3" />

    <input type="file" name="SubImgs" multiple class="form-control mb-3" />

    <select name="Movie.CategoryId" class="form-control mb-3">
        @foreach (var c in Model.Categories)
        {
            <option value="@c.Id" selected="@(c.Id == Model.Movie.CategoryId)">
                @c.CategoryName
            </option>
        }
    </select>

   
    <button class="btn btn-warning">Update</button>

</form>